torch == 2.0.0
numpy
tqdm
requests
optax == 0.1.5
dm-haiku == 0.0.9
chex == 0.1.7
jax == 0.4.10
jaxlib == 0.4.10
transformers
huggingface_hub==0.12.1
progressbar2
mesh_transformer @ git+https://github.com/sukhysall/mesh-transformer-jax#egg=mesh_transformer
ftfy
termcolor
flask-socketio
tensorflow==2.12.0
